.blod {
	font-weight: bold;
}

.italic {
	font-style: italic;
}

.strikethrough {
	text-decoration: line-through;
}

.underline {
	text-decoration: underline;
}

.code {
	background-color: darkgrey;
	border-radius: 3px;
	padding: 2px;
}


.grey {
	color: grey;
}

.brown {
	color: saddlebrown;
}

.orange {
	color: orange;
}

.yellow {
	color: yellow;
}

.blue {
	color: blue;
}

.purple {
	color: purple;
}

.pink {
	color: pink;
}

.red {
	color: red;
}

.green {
	color: green;
}



.gray_background {
	background-color: rgba(grey,  .4);
}

.brown_background {
	background-color: rgba(saddlebrown, .4);
}

.orange_background {
	background-color: rgba(orange, .4);
}

.yellow_background {
	background-color: rgba(yellow, .4);
}

.green_background {
	background-color: rgba(green, .4);
}

.blue_background {
	background-color: rgba(blue, .4);
}

.purple_background {
	background-color: rgba(purple, .4);
}

.pink_background {
	background-color: rgba(pink, .4);
}

.red_background {
	background-color: rgba(red, .4);
}