.root {
	letter-spacing: .02rem;
	padding-bottom: 10px;
}

.heading1 {
	font-size: 2.074rem;
}

.heading2 {
	font-size: 1.728rem;
}

.heading3 {
	font-size: 1.44rem;
}

.heading4 {
	font-size: 1.2rem;
}

.heading5 {
	font-size: 1.2rem;
}


.subtitle {
	font-size: 1.125rem;
}

.body1 {
	font-size: 1rem;
	line-height: 1.6;
}

.body2 {
	font-size: .8rem;
	line-height: 1.6;
}

.caption {
	color: grey;
	font-size: .76rem;
}


.left {
	text-align: left;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}